body {
  background-color: #fff;
}

.contact-page .contact-banner {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  background-image: url(/storage/site-images/contact-bg.jpg);
}

.contact-page .contact-banner .text {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-page .head-img {
  background-image: url("/storage/site-images/home_icon.png");
  background-repeat: no-repeat;
  height: 100%;
  margin-bottom: 10px;
  background-position: center center;
  z-index: 99999;
  height: 22px;
  margin-top: 20px;
}

.contact-page .form-list {
  background-color: #fff;
  display: inline-block;
  margin: 50px 0px;
}

.contact-page #form_text_main h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #222222;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
}

.contact-page #form_text_main h6 {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #727272;
  margin-top: 10px;
  text-transform: uppercase;
}

.contact-page #form_text_main p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #727272;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 28px;
}

.contact-page .location {
  max-width: 100%;
}

.contact-page .location .left-div, .contact-page .location .right-div {
  float: right;
  max-width: 359px;
  background: #f6f6f6;
  padding: 40px;
  text-align: center;
  margin-bottom: 50px;
  color: #333333;
  width: 100%;
  display: inline-block;
  min-height: 306px;
}

.contact-page .location .left-div .icon-text h4, .contact-page .location .right-div .icon-text h4 {
  font-size: 18px;
  font-weight: 600;
}

.contact-page .location .left-div .icon-text i, .contact-page .location .right-div .icon-text i {
  font-size: 35px;
  margin: 20px 0px;
  color: #25bbe2;
  padding: 20px 15px;
  border: 2px solid #25bbe2;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.contact-page .location .right-div {
  float: left;
}

.contact-page .contact-button {
  margin: 50px auto;
  border-radius: 20px  !important;
  border: 1px solid #25bbe2;
  background: #25bbe2;
  margin-bottom: 100px;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 46px  !important;
  color: #fff;
}

.contact-page .contact-button:hover, .contact-page .contact-button:focus, .contact-page .contact-button:active {
  color: #25bbe2;
  background-color: #fff;
  border: 1px solid #25bbe2;
  outline: none !important;
}

.contact-page .rc-anchor-light.rc-anchor-normal {
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-page .address input.form-control {
  padding-bottom: 71px;
  padding-top: 20px;
}

.contact-page div#captchaError {
  float: left;
  width: 100%;
  padding-left: 15px;
}

.contact-page .margin-bottom {
  margin-bottom: 40px;
}

.contact-page .margin-bottom img {
  max-width: 100% !important;
  overflow: hidden;
}

.contact-page h3 {
  color: #222222;
  font-size: 22px;
  font-weight: 600;
  line-height: 23px;
  padding-bottom: 5px;
  margin-top: 30px;
}

.contact-page h2 {
  color: #424242;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.contact-page p {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 5px;
}

.contact-page p a {
  color: #25bbe2;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.contact-page p a:hover {
  color: #0499bf;
}

.contact-page .img-home-icon {
  padding-top: 10px;
  padding-bottom: 0;
}

.contact-page .img-home-icon img {
  float: left;
}

.contact-page .desktop-step-banner {
  width: 100%;
  height: auto;
  margin: 20px 0px;
  display: block;
}

.contact-page .mobile-step-banner {
  display: none;
}

@media screen and (max-width: 1200px) {
  .contact-page .img-home-icon img {
    margin-left: 15px;
    float: left;
    margin-top: 10px;
  }
  .contact-page .contact-page .location .left-div .right-div, .contact-page .contact-page .location .contact-page .location .right-div {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contact-page .margin-bottom {
    margin-bottom: 30px;
  }
  .contact-page p {
    padding-bottom: 0px;
  }
  .contact-page h3 {
    margin-top: 20px;
    line-height: 30px;
  }
  .contact-page .contact-button {
    margin: 20px auto;
    margin-bottom: 30px;
  }
  .contact-page .form-list {
    margin: 30px 0px;
  }
  .contact-page .location .right-div, .contact-page .location .left-div {
    float: none;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 5px;
    min-height: inherit;
    display: block;
  }
  .contact-page .location p {
    min-width: auto;
    max-width: 100%;
  }
  .contact-page .contact-banner {
    margin-bottom: 30px;
  }
  .contact-page .contact-banner .text {
    font-size: 36px;
    padding: 60px 20px;
  }
  .contact-page #form_text_main h2 {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
  }
  .contact-page .img-home-icon {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .contact-page .img-home-icon img {
    margin-left: 15px;
    float: left;
    margin-top: 10px;
  }
  .contact-page .form-field-input .formField {
    margin-bottom: 15px !important;
  }
  .contact-page .network-portal .form-field-input .select {
    margin-bottom: 0;
  }
}

@media screen and (max-device-width: 520px) {
  .contact-page .contact-banner .text {
    font-size: 28px;
    padding: 40px 20px;
  }
  .contact-page .desktop-step-banner {
    display: none;
  }
  .contact-page .mobile-step-banner {
    width: 100%;
    height: auto;
    margin: 20px 0px;
    display: block;
  }
}

.contact-page .head-img {
  margin-top: 0;
}

.contact-page .img-home-icon img {
  margin-top: 0;
}

/*corporate page css*/
.corporate-pg p {
  text-align: justify;
}

/*corporate page css ends*/
/***********************network-portal-page-css*********************************/
.network-portal {
  background: #fff;
}

.network-portal .form-field-input {
  margin: 50px 0px;
  width: 100%;
  display: inline-block;
}

.network-portal .form-field-input .select {
  margin-bottom: 20px;
}

.network-portal .form-field-input .formField {
  height: 72px;
}

.network-portal .form-list .select {
  margin-bottom: 20px;
}

.network-portal .form-list .formField {
  height: 72px;
}

.network-search-div {
  padding-bottom: 40px;
  padding-top: 60px;
  background: #f6f6f6;
}

.network-search-div .icon-div {
  margin-bottom: 50px;
  width: 100%;
  display: inline-block;
}

.network-search-div .no-padding {
  padding: 0;
}

.network-search-div .search-user-div {
  margin-bottom: 20px;
}

.network-search-div .search-user-div .profile-userpics-user-div {
  position: relative;
  display: inline-block;
  width: 100%;
  max-height: 182px;
  min-height: 182px;
  overflow: hidden;
}

.network-search-div .search-user-div .profile-userpics-user-div img {
  height: 182px;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.network-search-div .search-user-div .profile-userpics-user-div .more-info {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #92c800;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
}

.network-search-div .search-user-div .text-user-div {
  padding-left: 15px;
}

.network-search-div .search-user-div .text-user-div .heading-text {
  font-size: 18px;
  font-weight: 600;
  color: #424242;
  text-transform: capitalize;
}

.network-search-div .search-user-div .text-user-div .info-icon {
  color: #92c800;
  margin-right: 10px;
}

.network-search-div .search-user-div .text-user-div .bold {
  font-weight: 600;
}

.network-search-div .forum-page .icon-one, .network-search-div .forum-page .forum-page .icon-two, .network-search-div .forum-page .forum-page .icon-three {
  margin-top: 0 !important;
}

.network-search-div .forum-page .icon-div {
  margin-bottom: 50px;
  width: 100%;
  display: inline-block;
}

.network-search-div #left-col {
  background: #fff;
  display: block;
  padding: 20px;
  min-height: 205px;
  width: 100%;
  margin-bottom: 30px;
}

.network-search-div #left-col .bonus-pic {
  position: absolute;
  left: -15px;
  top: -30px;
  width: 110px;
  margin: 10px;
  height: 110px;
  background-image: url("/storage/site-images/div.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.network-search-div #left-col .bonus-pic img {
  width: 68px;
  height: 60px;
  margin-top: 1px;
  margin-left: 2px;
}

.network-search-div #left-col .bonus-pic .bonus-pic img {
  width: 90px;
  height: 90px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .network-portal #form_text_main h2 {
    line-height: 1.2;
  }
  .contact-page h3 {
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .network-search-div {
    padding-bottom: 15px;
    padding-top: 30px;
  }
  .network-search-div .search-user-div {
    margin-bottom: 20px;
  }
  .network-search-div .search-user-div .profile-userpics-user-div {
    max-height: 100%;
    min-height: 100%;
    overflow: inherit;
  }
  .network-search-div #left-col {
    display: block;
    max-width: 480px;
    margin: 0px auto;
    margin-bottom: 15px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 520px) {
  .contact-page .contact-banner .text, .login-page .login-banner .text {
    font-size: 28px;
  }
}
